
*{
	margin:0px;
	padding:0px;
}
nav{
	width:;
	float:right;
}
nav.col.col-sm-9 {
    float: right;
    padding-right: 0px !important;
}
body{
	background-color:#c8c8c8;
}
header nav ul {
    float: right;
}
nav ul li a, nav ul li a:visited, nav ul li a:active, nav ul li a:link {
    color: #444;
    font-weight: bold;
    font-family: sans-serif; 
}

.logo {
    float: left;
}
.clean{
	clear:both;
}
.wrapper{
	width:85%;
	margin:0 auto;
}
.row{
}
.card-img-top{
	background-color: #444;
	width:100%;
	min-height:180px; 
}
.item { 
    
}
.contenido{
	background-color:white;
}  

.more-info:before{
	content: '';
}
label.marcador{
	color: white;
    font-size: 0.7em;
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 25px;
    padding-right: 10px;
}
span.marcador{
	display: block;
    right: 20px;
    top: 190px;
    position: absolute; 
    color: white;
    font-size: 0.7em;
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
span.vegetable, span.gemuse, label[for=vegetable] {
    background-color: #2b9030;
}
.vegetable .card-footer a i, .gemuse .card-footer a i{
	color: #2b9030;
}
span.meat, label[for=meat] {
    background-color: #e73c01;
}
.meat .card-footer a i{
	color: #e73c01;
}
span.fruit, label[for=fruit] {
    background-color: #f39200;
}
.fruit .card-footer a i{
	color: #f39200;
}


a.more-info {
    color: black;
    font-size: 0.7em;
}
a.more-info:link, a.more-info:active, a.more-info:visited{
	text-decoration: none;
}
input[type=checkbox]{
    position: relative;
    left: 25px;
    top: 3px;
}
nav ul li {
    float: left;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
	font-size: 0.7em;
}
.navegacion{
        position: static;
        display: block;
    }

    /*Create vertical spacing*/
    .navegacionMovil{
    	display: none;
    }
/*Responsive Styles*/
@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    .navegacion{
        position: static;
        display: none;
    }

    /*Create vertical spacing*/
    .navegacionMovil{
    	display: block;
    	position: static;
    	orientation:vertical;
    }
    
}
/* José Vázquez - 27/06/2018  */